---
import Layout from "../layouts/Layout.astro";
import FaqDrawer from "../components/FaqDrawer";
import { Image } from "astro:assets";
---

<Layout title="Academic Allies">
  <main class="min-h-full">
    <section class="h-full">
      <div class="container mx-auto h-full">
        <div class="mt-12 text-center">
          <h1
            class="text-4xl"
            style="text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);"
          >
            Frequently Asked Questions
          </h1>
          <p class="mt-4 text-lg">
            Please reach us at if you cannot find an answer to your question.
          </p>
        </div>
        <div class="grow"><FaqDrawer client:load /></div>
      </div>
    </section>
  </main>
</Layout>
