---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import myImage from "../cc_act_img_1.webp";
import circle1 from "../aa_circle_1.webp";
import circle2 from "../aa_circle_2.webp";
import circle3 from "../aa_circle_3.webp";
---

<Layout title="Academic Allies">
  <main>
    <section>
      <div
        class="min-h-[75vh] bg-[url('src/cc_act_img_1.webp')] bg-cover bg-center"
      >
      </div>
    </section>
    <section class="mx-auto flex flex-col items-center py-6">
      <h1 class="p-6 text-3xl font-medium drop-shadow-md">About Us</h1>
      <div class="flex justify-around">
        <div class="flex basis-1/3 flex-col items-center gap-6 p-6">
          <Image
            src={circle1}
            alt="A bird sitting on a nest of eggs."
            class="h-96 w-96 rounded-full"
          />
          <h2 class="text-lg">FOR ORGANIZATIONS</h2>
          <p>
            Our experience and relationships provide our clients with coaching,
            planning, and execution of your goals. We are your trusted partners
            in navigating the dynamic landscape of education.
          </p>
        </div>
        <div class="flex basis-1/3 flex-col items-center gap-6 p-6">
          <Image
            src={circle2}
            alt="A bird sitting on a nest of eggs."
            class="h-96 w-96 rounded-full"
          />
          <h2 class="text-lg">FOR SCHOOLS</h2>
          <p>
            Our team of advisors bring years of experience to your school. Their
            extensive wealth of knowledge and passion for serving schools will
            amplify your efforts. We specialize in partnering with schools and
            school districts in the areas of technology, classroom management,
            leadership, team building, and diversity trainings and consultation.
          </p>
        </div>
        <div class="flex basis-1/3 flex-col items-center gap-6 p-6">
          <Image
            src={circle3}
            alt="A bird sitting on a nest of eggs."
            class="h-96 w-96 rounded-full"
          />
          <h2 class="text-lg">FOR STUDENTS AND FAMILIES</h2>
          <p>
            We understand that every student is unique and has different
            learning needs. That's why we offer customized consultation programs
            tailored to your specific goals and learning style.
          </p>
        </div>
      </div>
    </section>
    <section class="pt-14">
      <div class="container mx-auto">
        <h2 class="mb-10 text-center text-3xl">
          HELP STUDENTS BE PREPARED FOR COLLEGE
        </h2>
        <div class="flex justify-center">
          <div>
            <iframe
              width="560"
              height="315"
              src="https://www.youtube.com/embed/QoQRJMRVDAY?si=s3pJ8OO3SFrohZ55"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </section>
    <section class="pt-14">
      <div class="container mx-auto my-10">
        <h2 class="mb-10 text-center text-3xl">REACH OUT</h2>
        <div class="flex justify-center">
          <a
            class="rounded bg-[#04233b] px-10 py-5 text-white"
            href="mailto:contact@academicallies.org"
            >Contact Us
          </a>
        </div>
      </div>
    </section>
  </main>
</Layout>
