---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Academic Allies">
  <main>
    <div>Cool Stuff goes here</div>
    <section>
      <h1>About Us</h1>
      <div class="flex justify-around">
        <div class="basis-1/3">
          <img
            src="https://picsum.photos/400?random=1"
            alt="Circle img"
            class="rounded-full"
          />
          <p>
            Our experience and relationships provide our clients with coaching,
            planning, and execution of your goals. We are your trusted partners
            in navigating the dynamic landscape of education.
          </p>
        </div>
        <div class="basis-1/3">
          <img
            src="https://picsum.photos/400?random=2"
            alt="Circle img"
            class="rounded-full"
          />
          <p>
            Our team of advisors bring years of experience to your school. Their
            extensive wealth of knowledge and passion for serving schools will
            amplify your efforts. We specialize in partnering with schools and
            school districts in the areas of technology, classroom management,
            leadership, team building, and diversity trainings and consultation.
          </p>
        </div>
        <div class="basis-1/3">
          <img
            src="https://picsum.photos/400?random=3"
            alt="Circle img"
            class="rounded-full"
          />
          <p>
            We understand that every student is unique and has different
            learning needs. That's why we offer customized consultation programs
            tailored to your specific goals and learning style.
          </p>
        </div>
      </div>
    </section>
    <section>
      <div>
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/QoQRJMRVDAY?si=s3pJ8OO3SFrohZ55"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen></iframe>
      </div>
    </section>
  </main>
  <footer>
    <div>
      <div>Copyright © 2024 Academic Allies - All Rights Reserved.</div>
      <div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="1em"
          height="1em"
          viewBox="0 0 24 24"
          ><g
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            ><rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect><path
              d="M16 11.37A4 4 0 1 1 12.63 8A4 4 0 0 1 16 11.37m1.5-4.87h.01"
            ></path></g
          ></svg
        >
      </div>
    </div>
  </footer>
</Layout>
