---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
---

<Layout title="Academic Allies">
  <main>
    <section>
      <div class="flex">
        <div>
          <Image
            src="https://picsum.photos/800/500"
            alt="A bird sitting on a nest of eggs."
            width="800"
            height="500"
          />
        </div>
        <div class="flex flex-col justify-end">
          <h1>TRANSFORM YOUR RELATIONSHIPS WITH ACADEMIC ALLIES</h1>
          <p>
            At Academic Allies, we provide top-notch educational consulting
            services to help you reach your full potential. Contact us to learn
            more about how we can help you succeed!
          </p>
          <a
            class="rounded bg-[#04233b] px-10 py-5 text-white"
            href="mailto:contact@academicallies.org"
            >Find Out More
          </a>
        </div>
      </div>
    </section>
    <section>
      <div class="container mx-auto">
        <div class="text-center"><h2>WELCOME TO ACADEMIC ALLIES!</h2></div>
        <div class="grid grid-cols-2 justify-center">
          <div class="flex flex-col items-center">
            <h3>Our Mission</h3>
            <Image
              src="https://picsum.photos/596/296"
              alt="A bird sitting on a nest of eggs."
              width="596"
              height="296"
            />
            <p>
              At Academic Allies, our mission is to provide personalized
              educational consulting services to schools and professionals. We
              believe that every individual has unique strengths and challenges,
              and we work closely with our clients to help them achieve their
              full potential.
            </p>
          </div>
          <div class="flex flex-col items-center">
            <h3>Our Team</h3>
            <Image
              src="https://picsum.photos/596/296"
              alt="A bird sitting on a nest of eggs."
              width="596"
              height="296"
            />
            <p>
              Our team of experienced consultants has a diverse background in
              education, business, and other fields. We bring a wealth of
              knowledge and expertise to our work, and we are committed to
              providing the highest level of service to our clients.
            </p>
          </div>
          <div class="flex flex-col items-center">
            <h3>Our Services</h3>
            <Image
              src="https://picsum.photos/596/296"
              alt="A bird sitting on a nest of eggs."
              width="596"
              height="296"
            />
            <p>
              We offer a range of services to help our clients achieve their
              goals, including product alignment, sales consulting, and
              relationship strategies.
            </p>
          </div>
          <div class="flex flex-col items-center">
            <h3>Contact Us</h3>
            <Image
              src="https://picsum.photos/596/296"
              alt="A bird sitting on a nest of eggs."
              width="596"
              height="296"
            />
            <p>
              Ready to take the next step? Contact us today to learn more about
              our services and how we can help you achieve your goals. We look
              forward to hearing from you!
            </p>
          </div>
        </div>
      </div>
    </section>
  </main>
</Layout>
