<footer>
  <div class="mx-auto flex justify-between bg-[#04233b] px-8 py-12">
    <div class="text-[#adb9cc]">
      Copyright © 2024 Academic Allies - All Rights Reserved.
    </div>
    <div class="flex gap-4">
      <div class="text-[#adb9cc]">
        <a
          href="https://www.linkedin.com/company/the-academic-allies"
          target="_blank"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            class="h-10 w-10"
            ><!-- Icon from Tabler Icons by Paweł Kuna - https://github.com/tabler/tabler-icons/blob/master/LICENSE -->
            <g
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              ><path d="M8 11v5m0-8v.01M12 16v-5m4 5v-3a2 2 0 1 0-4 0"
              ></path><path
                d="M3 7a4 4 0 0 1 4-4h10a4 4 0 0 1 4 4v10a4 4 0 0 1-4 4H7a4 4 0 0 1-4-4z"
              ></path></g
            ></svg
          >
        </a>
      </div>
      <div class="text-[#adb9cc]">
        <a href="https://www.instagram.com/theacademicallies" target="_blank">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            class="h-10 w-10"
            ><g
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              ><rect width="19" height="19" x="2" y="2" rx="5" ry="5"
              ></rect><path
                d="M16 11.37A4 4 0 1 1 12.63 8A4 4 0 0 1 16 11.37m1.5-4.87h.01"
              ></path></g
            ></svg
          >
        </a>
      </div>
    </div>
  </div>
</footer>
